.body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.example-container {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
}

/* -----Nav----- */
.navbar {
    /* background-color: black; */
    background-color: rgba(220, 222, 252, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 10%;
    height: 10%;
}

/* ------sidebar------ */
.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 16%;
    background: linear-gradient(to right, rgb(194, 202, 245), rgb(26, 48, 247));
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.head {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
}

.nav-link {
    text-decoration: none;
}

.menuName {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
}

.custom-font {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* -----text---- */
.text {
    font-family: 'Poppins', sans-serif;

}

/* -----card----- */
.card {
    margin: 32px auto;
    float: inline-start;
    width: 94%;
    height: 20%px;
    border: 2px solid rgb(198, 198, 201);
    /* border-radius: 8px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* ----mat-table-- */
.table {
    margin: 32px auto;
    width: 94%;
    height: 80%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 30%;
}

.mat-form-field-wrapper {
    width: 100%;
}

.filter-container {
    display: flex;
    align-items: center;
}

.filter-field {
    flex: 1;
    margin-right: 10px;
}
.filter-button {
    margin-left: 40px; /* Add space to the left of the button */
  }
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

td,
th {
    width: 25%;
}